<nav class="navbar is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="assets/images/SOFS.png" alt="SOFS" class="logo-img">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Serviços</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Desenvolvimento Web</a>
                        <a class="navbar-item">Sistemas</a>
                        <a class="navbar-item">Consultoria</a>
                    </div>
                </div>
                <a class="navbar-item">Cases</a>
                <a class="navbar-item">Blog</a>
                
                <div class="navbar-item">
                    <a href="contato.html" class="button is-primary is-rounded">
                        Entre em contato
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav> 